/* INDEX PAGE */

body {
    background-image: url("images/Forest-Fire.jpg");
    /* height: 800px; */
    /* background-color: beige; */
    background-repeat: no-repeat;
    background-size: cover;
}

body h1 {
    font-size: 50px;
    color: rgb(229, 110, 25);
    text-align: center;
}

ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 30px;
}

ul li a {
    text-decoration: none;
    color: rgb(31, 107, 107);
    font-size: 40px;
    border: 3px solid black;
    border-radius: 22px;
}

#single {
    padding-left: 350px;
    margin-top: 150px;
    float: left;
}

#batch {
    padding-right: 350px;
    margin-top: 150px;
    float: right;
}

.flex-wrapper {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    justify-content: flex-start;
}

.footer {
    margin-top: auto;
    text-align: center;
}

/* -----------------------------------------------------------------------------------------------*/

/* CONTAINER */
.container h2 {
    font-size: 30px;
    color: brown;
}

.container #regout {
    color: rgb(16, 47, 220);
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
    float: left;
    padding-left: 200px;
}

.container #classout {
    color: rgb(16, 47, 220);
    font-size: 25px;
    font-style: oblique;
    font-weight: bold;
    float: right;
    padding-right: 500px;
}

.container label {
    /* padding-lef: 50px; */
    font-size: 18px;
}

.container input {
    width: 200px;
    height: 25px;
}

.container a {
    color: brown;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.container button {
    width: 200px;
    height: 30px;
    margin-left: 65px;
    border: 3px solid black;
    border-radius: 10px;
}

/* -----------------------------------------------------------------------------------------------*/
/* CONTAINER-1 */

.container1 {
    float: left;
    padding-left: 300px;
    margin-top: 50px;
}

.container1 label {
    color: crimson;
    width: 180px;
    /* font-size: 10px; */
    display: inline-block;
}

/* -----------------------------------------------------------------------------------------------*/
/* CONTAINER-2 */

.container2 {
    float: right;
    padding-right: 300px;
    margin-top: 50px;
}

.container2 label {
    color: crimson;
    width: 180px;
    /* font-size: 10px; */
    display: inline-block;
}

/* -----------------------------------------------------------------------------------------------*/