<!DOCTYPE html>
<html>

<head>
    <title>Algerain_Machine Learning API</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
</head>

<body>
    <h1>Algerian Forest-Fires Prediction: </style>
    </h1>

    <div class="main">
        <ul>
            <li>
                <a id="single" type="button" href="{{url_for('single_prediction')}}">Single Prediction</a>
            </li>
            <li>
                <a id="batch" type="button" href="{{url_for('batch_prediction')}}">Batch Prediction</a>
            </li>
        </ul>
    </div>

</body>

</html>